<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <article class="events col-md-3 mt-4">
    <h4>Past Events</h4>
    <%= list_past_events(@past_events) %>
  </article>
  <article class="events col-md-3 mt-4">
    <h4>Upcoming Events</h4>
    <%= list_upcoming_events(@upcoming_events) %>
  </article>
  <article class="event-form col-md-3 mt-4">
    <Button class="btn btn-success"><%= link_to "Add New Event", events_path, class: "text-white" %></Button>
  </article>
</div>