<div class="container">
  <div class="row">
  
    <div class="col-md-6 col-md-offset-3">
    <%= render 'event_errors_messages' %>
      <%= form_with(model: @event, local: true) do |f| %>
        <div class="field">
          <h4>Create New Event</h4>
        </div>
        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="field mt-4">
          <%= f.text_area :desc, size: '50x10', placeholder: 'Event Description', class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :venue %>
          <%= f.text_field :venue, class: 'form-control' %>
        </div>
        <div class="field mt-4">
          <%= f.label :event_date, "Event Date and Time" %>
          <%= f.datetime_field :event_date, class: 'form-control' %>
        </div>
        <div class="field mt-4">
          <%= f.submit "Create New Event", class: "btn btn-primary" %>
        </div>
      <% end %>
      <%= link_to "<< Back to Profile", user_path(current_user.id), class: "mt-2" %>
    </div>
  </div>
</div>
